* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background: -webkit-linear-gradient(to right, #061161, #780206);
    background: linear-gradient(to right, #061161, #780206);
}




#home {
    min-height: 100vh;

}

#home .layer {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hi_container {

    background-color: #212529d6;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 15px 30px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 30px;
}

.navbar {
    background-color: #212529ed !important;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}